*{
    padding: 0;
    margin: 0;
   /**方便计算盒子模型**/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*触摸时高亮颜色*/
    -webkit-tap-highlight-color: transparent;
}
.left{
    float: left;
}
.right{
    float: right;
}
body,html{
    font-family: "微软雅黑";
    font-size: 12px;
}
ul,li{list-style: none;}
a{
    text-decoration: none;
    color: #686868;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
    visibility: visible;
}
*:focus{
    outline: none;
}
#jd-main{
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    height: 1000px;
    background-color: #f1f1f1;
}

.fixed-search{
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    height: 50px;
    background-color: #de181b;
    padding: 10px;
}

.fixed-search .login-link{
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 13px;
    line-height: 50px;
    color: #fff;
}
.search-box form{
    position: relative;
    width: 100%;
    padding-right: 40px;
    border-radius: 30px;
    overflow: hidden;
}
.search-box form input{
    width: 100%;
    border: none;
    padding: 10px;
    padding-left: 58px;
    height: 30px;
    border-radius: 30px;
}

.fixed-search .logo-icon{
    position: absolute;
    left: 18px;
    top: 8px;
    width: 18px;
    height: 13px;
    background: url("../images/input_logo.png") no-repeat 0 0 /18px 13px;
}
.fixed-search .search-icon{
    position: absolute;
    left: 40px;
    top: 8px;
    width: 12px;
    height: 12px;
    background: url("../images/search.png") no-repeat 0 0 /12px 12px;}


#footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0 -3px 5px #ccc;
}
#footer li{
    float: left;
    width: 20%;
    text-align: center;
}

#footer li a,#footer li img{
    display: inline-block;
}
#footer li img{
    width: 80%;
}
/**********轮播图样式********/
.slide{
    position: relative;
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    overflow: hidden;
}
.slide .slide-img{
    width: 800%;
}
.slide .slide-img li{
    float: left;
    width: 12.5%;
}
.slide-img img,.slide-img a{
    display: block;
}
.slide-img img{
    width: 100%;
}
.slide .slide-page{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.slide-page li{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
}

/*********导航样式*********/
.nav{
    position: relative;
    z-index: 95;
    padding-top: 20px;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    margin-top: -15px;
    padding-bottom: 20px;
}
.nav li{
    float: left;
    width: 20%;
    margin-bottom: 10px;
}

.nav li a{
    display: block;
    text-align: center;
}
.nav li img{
    display: inline-block;
    width: 50%;
}

@media (max-width: 350px) {
    #footer li img{
        width: 52px;
    }
}

@media (min-width: 410px) {
    #footer li img{
        width: 70px;
    }
}
.Img img{
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
}
